.achievement__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 280px;
}

.achievement-item {
  margin: 0;
  // padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
}

.achievement__title {
  position: relative;
  bottom: 9px;
  margin: 0;
  padding: 0 16px;
  max-width: 55px;
  order: 1;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
}

.achievement__value {
  margin: 0;
  padding: 15px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 83px;
  font-weight: 400;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.achievement__expense {
  margin: 0;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .achievement {
    display: flex;
  }

  .achievement__wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 365px;
  }

  .achievement-item {
    // align-items: flex-start;
    // justify-content: space-between;
    // width: 200px;
  }

  .achievement__title {
    bottom: 6px;
    padding: 0 20px;
    max-width: 300px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }

  .achievement__value {
    width: 120px;
    font-size: 30px;
    line-height: 37px;
  }

  .achievement__expense {
    padding-top: 22px;
    margin-left: auto;
    text-align: right;
    max-width: 195px;
    font-size: 20px;
  }

  .achievement__expense-amount {
    display: inline-block;
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .achievement {
    flex-direction: column;
  }

  .achievement__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    max-width: 300px;
  }

  .achievement__expense {
    margin-left: 0;
    padding-top: 22px;
    max-width: 570px;
    text-align: left;
  }

  .achievement__title {
    background-color: #f2f2f2;
  }
}
