.additional-product {
  overflow: hidden;
  margin-bottom: 35px;
}

.additional-product__header {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 34px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.additional-product__header::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 3px;
  margin-top: -9px;
  margin-left: 22px;
  background: #68b738;
  z-index: -1;
}

.additional-product__list {
  margin-bottom: 39px;
}

.additional-product__item {
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;
}

.additional-product__details {
  width: 100%;
  margin-bottom: 12px;
}

.additional-product__title {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.price__data {
  padding: 0;
  font-family: "Arial", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #444444;
}

.price__value {
  text-align: right;
}

.additional-product_bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 289px;
  background-color: #63a73a;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .additional-product_bonus {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .additional-product {
    margin-bottom: 75px;
  }

  .additional-product__header {
    background-color: #ffffff;
    width: 374px;
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
    border: none;
  }

  .additional-product__header::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    height: 3px;
    margin-top: -9px;
    background: #68b738;
    z-index: -1;
  }

  .additional-product__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;
    padding-top: 45px;
  }

  .additional-product__item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 27px 37px 28px 37px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  .additional-product__item:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .additional-product__title {
    padding: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__details {
    width: 230px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .price__data {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .price__value {
    width: 90px;
  }

  .additional-product__order {
    margin-top: 19px;
  }

  .additional-product_bonus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    min-height: 200px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-product_bonus {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    margin-bottom: 18px;
  }

  .additional-product__header {
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 46px;
    width: 373px;
  }

  .additional-product__header::before {
    margin-top: -7px;
  }

  .additional-product__header::after {
    margin-top: -7px;
    margin-left: 8px;
  }

  .additional-product__wrapper {
    width: 1220px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .additional-product__list {
    padding: 0 0 0 0;
    width: 895px;
  }

  .additional-product__item {
    align-items: center;
    min-height: 71px;
    padding: 0;
    border-left: none;
    border-right: none;
  }

  .additional-product__details {
    padding-top: 6px;
    width: 326px;
  }

  .price__data {
    text-align: left;
  }

  .price__value {
    width: 79px;
  }

  .additional-product__order {
    margin: 0;
    margin-top: -1px;
    max-width: 245px;
  }

  .additional-product_bonus {
    flex-direction: column;
    min-width: 245px;
    min-height: 289px;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-product_bonus {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }
}
