.additional-product {
  // padding: 0 20px;
}

.additional-product__header {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #d9d9d9;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.additional-product__list {
  margin-bottom: 39px;
}

.additional-product__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.additional-product__title {
  // margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.price__data {
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #444444;
}

.price__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .additional-product__item {
    display: flex;
    flex-wrap: wrap;
  }
}
