.additional-product {
  // padding: 0 20px;
}

.additional-product__header {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #d9d9d9;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.additional-product__list {
  margin-bottom: 39px;
}

.additional-product__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.additional-product__details {
  width: 100%;
}

.additional-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.price__data {
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #444444;
}

.price__value {
  text-align: right;
}

.additional-product_bonus {
  min-height: 289px;
  background-color: #63a73a;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .additional-product__header {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-product__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .additional-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__details {
    width: 230px;
    margin-left: auto;
  }

  .price__data {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-product_bonus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 280px;
    min-height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product__wrapper {
    // margin: auto;
    width: 1220px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .additional-product__list {
    width: 895px;
  }

  .additional-product__order {
    max-width: 245px;
  }

  .additional-product_bonus {
    width: 245px;
    min-height: 289px;
    // align-items: center;
    justify-content: center;
    align-items: flex-end;
    // margin-right: 0;
  }
}
