.advantages {
  margin-bottom: 30px;
  // margin-bottom: 1229px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 400;
  // margin-bottom: 20px;

  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  color: #444444;
  list-style: none;
}

.advantages__item {
  max-width: 220px;
  padding-left: 80px;
  padding-top: 18px;
  padding-bottom: 8px;

  font-family: "Arial", "Oswald", sans-serif;
}

.advantages__item--result {
  max-width: 200px;
}

@media (min-width: $tablet-width) {
  .advantages {
    // margin-bottom: 1688px;
  }

  .advantages__title {
    margin-bottom: 27px;
    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__item {
    margin-bottom: 58px;
    max-width: 265px;
    padding-top: 157px;
    padding-left: 0;
    padding-right: 60px;
    padding-bottom: 30px;
  }

  .advantages__item--result {
    // max-width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 168px;
  }

  .advantages__item {
    padding-right: 28px;
    // margin-left: 40px;
    // margin-right: 40px;
  }
}
