.bonus__text {
  margin: 0;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .bonus__text {
    margin-right: 85px;
    text-align: left;
    width: 160px;
  }
}

@media (min-width: $desktop-width) {
  .bonus__text {
    margin: 0;
    text-align: center;
  }
}
