.bonus__text {
  text-align: center;
  margin: 0;
  font-family: "Arial", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 150px;
}

.bonus__icon-gift {
  margin-top: 65px;
  margin-bottom: 63px;
  fill: #ffffff;
}

@media (min-width: $tablet-width) {
  .bonus__text {
    margin-right: 135px;
    text-align: left;
  }

  .bonus__icon-gift {
    margin-top: 53px;
    margin-left: 91px;
  }
}

@media (min-width: $desktop-width) {
  .bonus__text {
    margin: 0;
    text-align: center;
  }

  .bonus__icon-gift {
    margin: 0;
    margin-top: 65px;
    margin-bottom: 63px;
  }
}
