.catalog {
  margin-bottom: 60px;

  &__title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: #111111;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // flex-grow: 0;
  // flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 280px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    border: none;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    // display: flex;
    // flex-direction: column;
    min-width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    min-width: 169px;
  }
}
