.catalog {
  margin-bottom: 60px;

  &__title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: #111111;
  }
}
.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    // display: flex;
    // flex-direction: column;
    // width: 708px;
  }
}
