.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
  min-height: 161px;
}

.column__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .column {
    width: 100%;
    margin-bottom: 71px;
    min-height: 196px;
  }
}

@media (min-width: $desktop-width) {
  .column {
    margin-right: auto;
    margin-bottom: 0;
    width: 570px;
  }

  .input-age {
    margin-bottom: 0;
  }
}
