.column-additional {
  margin-bottom: 31px;
}

.column-additional__additional-title {
  position: relative;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.column-additional__additional-title::after {
  content: "";
  position: absolute;
  top: 26px;
  width: 100vw;
  height: 3px;
  margin-top: -12px;
  margin-left: 23px;
  background: #68b738;
  z-index: -1;
}

.column-additional__additional-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-item {
  margin-top: 9px;
  margin-bottom: 10px;
  padding: 6px;
  padding-left: 46px;
  position: relative;
}

.additional-item__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.additional-item__label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  flex-shrink: 0;

  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

.additional-item__input:checked + .additional-item__label::before {
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px;
}

.additional-item__input:disabled + .additional-item__label {
  opacity: 0.3;
}

.additional-item__label:hover,
.additional-item__label:hover::before,
.additional-item__label:focus,
.additional-item__label:hover:focus {
  border-color: #bababa;
  cursor: pointer;
  outline: 1;
}

.additional-item__input:focus + .additional-item__label::before {
  outline: 1px solid #444444;
}

@media (min-width: $tablet-width) {
  .column-additional {
    margin-bottom: 29px;
    width: 100%;
  }

  .column-additional__additional-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additional-item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 21px;
    width: 222px;
    margin-bottom: 10px;
    padding-left: 60px;
  }

  .column-additional__additional-title {
    margin-left: -40px;
    padding-left: 40px;
    max-width: 252px;
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
  }

  .column-additional__additional-title::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 100vw;
    height: 3px;
    background: #68b738;
    z-index: -1;
  }

  .column-additional__additional-title::after {
    top: 32px;
  }

  .additional-item__label {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-item__label::before {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    width: 180px;
  }

  .column-additional {
    margin-bottom: 31px;
  }
}
