.column-additional {
  margin-bottom: 25px;
}

.column-additional__additional-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.column-additional__additional-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-item__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .column-additional {
    width: 100%;
  }

  .column-additional__additional-list {
    display: flex;
    flex-wrap: wrap;
  }

  .additional-item {
    min-width: 220px;
    margin-bottom: 20px;
    padding-left: 60px;
  }

  .column-additional__additional-title {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-item__label {
    font-size: 20px;
    line-height: 20px;
  }
}
