.comparisons {
  // padding: 0;
}


.comparisons__button-to {
  padding: 0;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  color: #111111;
}

.comparisons__button-later {
  padding: 0;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  color: #111111;
}
