.comparisons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparisons__button {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  color: #111111;
}

.comparisons__range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
}

.comparisons__progress {
  display: flex;
  flex-shrink: 0;
  margin-left: 19px;
  margin-right: 19px;
  padding: 4px 6px;
  width: 85px;
  height: 14px;
  align-items: center;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.comparisons__toggle {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}

.comparisons-image {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 29px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .comparisons {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2 384px, #eaeaea 384px, #eaeaea);
    // background-color: #eaeaea;
  }

  .comparisons__button {
    font-size: 20px;
    border-bottom: 1px dotted #d9d9d9;
  }

  .comparisons__button-later {
    background-color: #eaeaea;
  }

  .comparisons-image {
    // margin-top: -358px;
    margin-bottom: 19px;
    margin-top: -171px;
  }

  .comparisons__cat-to {
    width: 672px;
    height: 516px;
  }

  .comparisons__range {
    max-width: 578px;
    margin-bottom: 74px;
  }

  .comparisons__progress {
    width: 428px;
    height: 6px;
    padding: 4px 0;
    background-color: #cdcdcd;
    border-color: #cdcdcd;
  }

  .comparisons__toggle {
    margin-left: 200px;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .comparisons {
    // background-image: none;
  }

  .comparisons-image {
    margin-top: -190px;
    margin-bottom: 37px;
  }

  .comparisons__range {
    max-width: 510px;
    margin-bottom: 0;
  }
}
