.comparisons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparisons__button {
  padding: 0;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  color: #111111;
}

.comparisons__range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
}

.comparisons-image {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .comparisons {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #eaeaea;
  }

  .comparisons__button {
    font-size: 20px;
    border-bottom: 1px dotted #d9d9d9;
  }
}
