.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts-img {
  width: 320px;
}

.contacts__map {
  font-size: 0;
}

.contacts__map iframe {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts-img {
    width: 768px;
  }

  .contacts__map iframe {
    height: 430px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-img {
    width: 1200px;
  }

  .contacts__map iframe {
    height: 400px;
  }
}
