.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 77px;
  height: 1px;
  width: 100%;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  font-family: "Arial", "Oswald", sans-serif;

  color: #444444;
  font-size: 16px;
  line-height: 16px;
}

.copyright__link:hover path {
  fill: #68b738;
}

.copyright__link:active,
.copyright__link:visited {
  opacity: 0.3;
}

.copyright__icon {
  margin-right: -7px;
  margin-top: 3px;

  path {
    fill: #666666;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    display: flex;
    width: 163px;
    align-items: center;
    border: none;
  }

  .copyright__link {
    min-width: 163px;
  }
}
