.example {
  background-color: #f2f2f2;
  // margin-bottom: 27px;
  padding-bottom: 36px;
}

.example__title {
  margin: 0;
  margin-bottom: 19px;
  padding-top: 21px;
  line-height: 60px;
  font-weight: 400;
  font-size: 36px;
  color: #111111;
}

.example__text {
  margin: 0;
  margin-bottom: 15px;
  max-width: 225px;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .example {
    padding-bottom: 0;
    background-color: #ffffff;
  }

  .example__title {
    margin-bottom: 57px;
    font-size: 60px;
  }

  .example__text {
    margin-bottom: 44px;
    padding-right: 60px;
    max-width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__achievement {
    background-color: #f2f2f2;
    margin-bottom: 231px;
    // margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .example {
    // background-color: #f2f2f2;
    padding-bottom: 0;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2 1023px, #eaeaea 384px, #eaeaea);
    // padding-top: 100px;
    // background-color: #21eb1a;
  }

  .example__container--color {
    padding-top: 100px;
    margin-top: -100px;
    // background-color: #f70b0b;
  }

  .example__title {
    margin-top: -150px;
    // padding-top: 100px;
    // background-color: #c4c124;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 139px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    // background-color: #f2f2f2;
    // background-image: linear-gradient(to right,#f2f2f2,#f2f2f2 384px,#eaeaea 384px,#eaeaea);
  }

  .example__text {
    max-width: 360px;
    margin-bottom: 60px;
  }
}
