.example {
  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  line-height: 60px;
  font-weight: 400;
  font-size: 36px;
  color: #111111;
}

.example__text {
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .achievement {
    display: flex;
  }

  .example__title {
    font-size: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: #eaeaea;
  }

  .example__title {
    background-color: #ffffff;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__text {
    max-width: 570px;
  }
}
