.form__wrapper {
  overflow: hidden;
}

.form__obligatory {
  display: block;
  margin-bottom: 10px;
  padding: 21px 0;
  font-family: "Arial", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 37px;
  }

  .form__send-application {
    margin-top: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 41px;
    display: inline-block;
    width: 283px;
  }

  .form-footer {
    display: flex;
    align-items: center;
    min-height: 73px;
    margin-bottom: 62px;
  }

  .form__obligatory {
    display: inline-block;
    margin-left: 55px;
    margin-bottom: 0;
    width: 192px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    padding-left: 25px;
    padding-right: 24px;
  }

  .form-wrapper__column-radio {
    display: flex;
    justify-content: space-between;
  }

  .form__send-application {
    margin-left: 1px;
    width: 568px;
  }

  .form-footer {
    min-height: 90px;
  }

  .form__obligatory {
    margin-left: 76px;
  }
}
