.form__obligatory {
  display: block;
  padding: 15px 0;
  font-family: "Arial", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.form__column {
  margin: 0;
  padding: 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .form {
    // display: flex;
    padding: 0 40px;
  }

  .form__container {
    display: flex;
    flex-wrap: wrap;
  }

  .form__send-application {
    display: inline-block;
    width: 283px;
  }

  .form__obligatory {
    display: inline-block;
    margin-left: 40px;
    width: 192px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__send-application {
    width: 568px;
  }
}
