.form__obligatory {
  display: block;
  padding: 15px 0;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.form__column {
  margin: 0;
  padding: 0;
  border: none;
}
