.intro {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.intro__wrapper {
  margin-left: -20px;
  margin-right: -20px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 320px auto;
  // background-color: #63a73a;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .intro__wrapper {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.intro__title {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 13px;
  width: 268px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;

  text-align: center;
}

.intro__slogan {
  display: block;
  margin-bottom: 28px;
  font-weight: 400;
  text-align: center;
}

.intro__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
  // background-color: #ffffff;
}

.intro_img {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 270px;
}

.intro__link {
  margin: 0 auto;
  padding: 11px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  vertical-align: bottom;
  font-size: 14px;
  max-width: 280px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 109px;
    background-image: none;
    align-items: flex-start;
    color: #111111;
  }

  .intro__title {
    margin: 0;
    margin-bottom: 26px;
    width: 446px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro__slogan {
    margin-bottom: 47px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__image-wrapper {
    display: flex;
    justify-content: center;
    order: 2;
    align-self: center;
    margin-top: -80px;
    margin-left: -111px;
    margin-bottom: 0;
  }

  .intro__link {
    z-index: 1;
    margin: 0;
    padding: 16px 15px;
    width: 246px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-bottom: 55px;
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 576px;
    padding-left: 100px;
    position: relative;
  }

  .intro__title {
    margin-bottom: 29px;
    padding-top: 77px;
    padding-right: 10px;
  }

  .intro__slogan {
    margin-bottom: 52px;
  }

  .intro__image-wrapper {
    position: absolute;
    z-index: -1;
    top: -25px;
    left: 546px;
    margin-top: 22px;
    margin-left: -76px;
  }

  .intro__img {
    width: 552px;
    height: 499px;
    margin-left: auto;
    margin-right: auto;
  }
}
