.intro {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.intro__wrapper {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.intro__title {
  margin: 0;
  padding: 20px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;

  text-align: center;
}

.intro__slogan {
  display: block;
  font-weight: 400;
  text-align: center;
}

.intro_img {
  display: block;
  margin: 0 auto;
}

.intro__link {
  font-family: "Myriad Pro", "Arial Narrow", sans-serif;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .intro {
    // display: flex;
    // flex-direction: column;
    // background-position: -60px right;
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    background-image: none;
    align-items: flex-start;
    color: #111111;
  }

  .intro__title {
    width: 425px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro__slogan {
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro_img {
    order: 1;
    align-self: center;
  }

  .intro__link {
    width: 251px;
    // font-family: "Oswald", "Arial Narrow", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 120px;
    background-image: url("../../img/index-background-mobile@1x.jpg");
    background-position: top -50px right 74px;
    background-repeat: no-repeat;
    // z-index: 100;
  }

  .intro__wrapper {
    justify-content: center;
  }

  .intro_img {
    margin-top: -260px;
  }
}
