.main-nav {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.main-nav__toggle {
  position: absolute;
  top: 11px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 20px;
  background-color: transparent;
  border: 0;
  user-select: none;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 10;
}

.main-nav__toggle-bar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 2px;
  background-color: #222222;
}

// .main-nav__toggle::before {
//   position: absolute;
//   content: "";
//   top: 12px;
//   left: 0;
//   width: 24px;
//   height: 2px;
//   background-color: #111111;
//   transform: rotate(45deg);
// }

// .main-nav__toggle::after {
//   position: absolute;
//   content: "";
//   top: 12px;
//   left: 0;
//   width: 24px;
//   height: 2px;
//   background-color: #111111;
//   transform: rotate(-45deg);
// }

.main-nav__toggle-bar::before {
  content: "";
  position: absolute;
  display: block;
  top: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222222;
}

.main-nav__toggle-bar::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222222;
}

.main-nav--closed {
  display: none;
}

.toggle-bar--closed {
  display: none;
}

.toggle-bar--open {
  display: block;
}

.site-list--closed {
  display: none;
}

.site-list--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 439px;
  }

  .main-nav__toggle {
    display: none;
  }
}
