.more-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-product__title {
  // text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.more-product__text {
  text-align: center;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.more-product__more {
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .more-product {
    display: flex;
    flex-direction: column;
    padding-left: 36px;
    padding-right: 36px;
    border: 1px solid #d9d9d9;
    align-items: center;
    min-height: 340px;
    background-color: #ffffff;
  }

  .more-product__title {
    // margin: 30px auto;
    width: 140px;
    font-size: 20px;
    text-align: center;
  }

  .more-product__text {
    width: 140px;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .more-product {
    // min-height: 340px;
    // background-color: #ffffff;
    // border: 1px solid #d9d9d9;
  }

  .more-product__title {
    // margin: 30px auto;
    // width: 140px;
    // font-size: 20px;
    // text-align: center;
  }

  .more-product__text {
    // font-size: 16px;
    // text-align: center;
  }
}
