.page-footer {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 31px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    // display: flex;
    justify-content: space-between;
    // width: 150px;
    // align-items: center;
    min-height: 150px;
  }

  .page-footer__logo-link {
    justify-content: flex-start;
    width: 163px;
    border: none;
    padding-top: 35px;
    // display: flex;
    // flex-shrink: 0;
    // margin: 0;
    // padding: 0;
    // padding-right: 20px;
    // border: none;
  }

  .page-footer__logo-link:hover {
    opacity: 0.8;
  }

  .page-footer__logo-link:active {
    opacity: 0.6;
  }
}
