.page-main {
  // test
}

.page-main__header {
  padding: 0 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.page-main__slogan {
  padding: 0 20px;

  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}
