.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__item {
  display: flex;
  align-items: center;
  min-width: 30px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

