.page-footer {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo-link {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 31px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-image {
  height: 23px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    justify-content: space-between;
    min-height: 150px;
  }

  .page-footer__logo-link {
    align-items: center;
    justify-content: flex-start;
    width: 163px;
    border: none;
    padding-top: 63px;
  }

  .page-footer__logo-link:hover {
    opacity: 0.8;
  }

  .page-footer__logo-link:active,
  .page-footer__logo-link:focus {
    opacity: 0.6;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    min-height: 160px;
  }

  .page-footer__logo-link {
    padding-top: 70px;
    vertical-align: middle;
  }
}
