.page-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-bottom: 1px solid #d9d9d9;
  // position: absolute;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    min-height: 70px;
    border: none;
    // background-color: red;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    min-width: 708px;
    min-height: 109px;
  }

  .logo-link__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 30px;
  }

  .page-header__wrapper {
    min-width: 1220px;
    // max-width: 1300px;
  }

  .page-header--index {
    position: relative;
    // background-color: aquamarine;
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: 100%;
    // padding-top: 30px;
  }

  .page-header--index::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 50%;
    min-height: 696px;
    top: 0;
    right: 0;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-color: #63a73a;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-link__logo-image {
    width: 202px;
    height: 59px;
  }
}
