.partners {
  // padding: 28px 20px;
  display: flex;
  // width: 100%;
  justify-content: space-between;
}

.partners__title {
  margin: 0;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.partners__address {
  margin: 0;
  width: 140px;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .partners {
    flex-direction: row;
    justify-content: space-between;
    // padding: 25 30px;
    width: 100%;
  }

  .partners__title {
    font-size: 20px;
    line-height: 25px;
  }

  .partners__address {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: right;
  }

  .partners__street {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .partners {
    position: absolute;
    top: 100px;
    left: 110px;
    align-items: center;
    width: 570px;
    min-height: 200px;
    background-color: #ffffff;
  }

  .partners__street {
    margin-bottom: 20px;
  }
}
