.partners {
  padding-top: 30px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.partners__title {
  margin: 0;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.partners__address {
  margin: 0;
  width: 140px;
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .partners {
    padding-top: 65px;
    padding-bottom: 24px;
    min-width: 625px;
  }

  .partners__title {
    font-size: 20px;
    line-height: 25px;
  }

  .partners__address {
    display: flex;
    flex-direction: column;
    width: 160px;
    font-size: 16px;
    text-align: right;
  }

  .partners__street {
    margin-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .partners {
    position: absolute;
    top: 95px;
    left: 65px;
    align-items: center;
    padding-top: 2px;
    padding-right: 90px;
    padding-left: 75px;
    padding-bottom: 0;
    min-width: 405px;
    min-height: 200px;
    background-color: #ffffff;
  }

  .partners__address {
    text-align: left;
  }

  .partners__street {
    margin-bottom: 20px;
  }
}
