.program {
  margin-top: 22px;
  // min-width: 320px;
  // padding: 0 20px;
}

.program__item {
  margin-bottom: 20px;
  padding: 20px;
  border-top: 1px solid  #ffffff;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.program__title {
  margin-top: 19px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 24px;
  line-height: 37px;
  font-weight: normal;

  color: #111111;
  text-align: center;
}

.program__text {
  border-bottom: 1px solid  #d9d9d9;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  color: #444444;
  text-transform: none;
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    display: flex;
    flex-direction: column;
  }

  .program__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding-left: 55px;
    padding-right: 310px;
    border: none;
  }

  .program__title {
    max-width: 370px;
    font-size: 36px;
  }

  .program__text {
    max-width: 340px;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: 0 30px;
  }

  .program__item {
    padding-left: 25px;
    padding-right: 25px;
    min-width: 520px;
  }

  .program__title {
    align-self: center;
  }
}
