.product__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.product_row {
  // width: 140px;
}

.product__details {
  width: 100%;
}

.product__value {
  text-align: left;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__data {
  text-align: right;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__image {
  padding-bottom: 24px;
  width: 140px;
}

.product__info {
  padding-bottom: 24px;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    padding-top: 165px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 38px;
    // width: 250px;
    min-height: 300px;
    background-color: #f2f2f2;
  }

  .product__info {
    width: auto;
  }

  .product__title {
    margin: 30px auto;
    width: 130px;
    font-size: 20px;
    text-align: center;
  }

  .product__details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product_row {
    display: flex;
    justify-content: space-between;
    width: 249px;
    border-bottom: 1px solid #d9d9d9;
  }

  .product__value {
    font-size: 16px;
  }

  .product__data {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    margin-right: 20px; //временно
    width: 169px;
  }

  .product_row {
    width: 170px;
  }
}
