.product__title {
  margin: 0;
  margin-bottom: 13px;
  width: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.product_row {
  // width: 140px;
}

.product__details {
  width: 100%;
}

.product__value {
  text-align: left;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.product__data {
  text-align: right;
  font-family: "Arial Narrow", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.product__link {
  display: block;
  // max-width: 140px;
  // max-height: 144px;
}

.product__image {
  // padding-bottom: 21px;
  width: 140px;
  height: 144px;
}

.product__info {
  padding-top: 20px;
  // padding-bottom: 21px;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: flex-start;
    margin-top: 140px;
    // margin-bottom: 141px;
    margin-left: 30px;
    margin-right: 30px;
    // padding-top: 165px;
    // padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 37px;
    // width: 250px;
    height: 431px;
    background-color: #f2f2f2;
  }

  .product__link {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 40px;
  }

  .product__image {
    width: 195px;
    height: 208px;
    // flex: 0 0 auto;
    // max-width: inherit;
    display: flex;
    // flex-direction: column-reverse;
    // align-items: center;
    // text-align: center;
    // min-height: 213px;
    // margin: -120px -40px 0;
  }

  .product__info {
    padding-top: 0;
    width: auto;
  }

  .product__title {
    margin-top: -3px;
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    // margin: 30px auto;
    width: 140px;
    font-size: 20px;
    text-align: center;
  }

  .product__details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  .product_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    padding-bottom: 8px;
    width: 249px;
    border-bottom: 1px solid #d9d9d9;
  }

  .product__value {
    font-size: 16px;
  }

  .product__data {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    margin-left: 40px;
    margin-right: 40px;
    width: 169px;
  }

  .product_row {
    width: 170px;
  }
}
