.item__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;

  text-transform: uppercase;
}

.item__input {
  padding: 5px;
}

.item__input::placeholder {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  text-transform: uppercase;
}
