.site-list {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  list-style: none;
}

.site-list__item {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #d9d9d9;

  text-align: center;
}

.site-list__link {
  display: inline-block;

  padding-top: 22px;
  padding-bottom: 23px;

  font-size: inherit;
  font-weight: 500;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .site-list__item {
    margin: 0;
    padding: 0;

    margin-left: 30px;
    border: none;

    font-size: 18px;
    line-height: 24px;
  }

  .site-list__link {
    padding: 0;
    width: 167px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    width: 200px;
    font-size: 20px;
    color: #111111;
  }

  .site-list__link--color {
    color: #ffffff;
  }
}
