.social {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 16px;
  width: 134px;
}

.social__item:hover .social__icon {
  fill: #68b738;
}

.social__icon:active,
.social__icon:visited {
  opacity: 0.3;
}

.social__item {
  width: 18px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    width: 150px;
  }

  .social__icon--vkontakte {
    width: 31px;
    height: 19px;
  }

  .social__icon--youtube {
    width: 23px;
    height: 23px;
    margin-left: -3px;
  }

  .social__icon--facebook {
    width: 14px;
    height: 28px;
    margin-top: -5px;
    margin-left: -9px;
  }
}
