.more-product {
  &__title {
    font-size: 16px;
    line-height: 20px;
    color: #111111;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    color: #444444;
  }

  &__more {
    background-color: #f2f2f2;
    color: #444444;
  }
}
